.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    
}

.product-container{
    padding-left: 50px;
    /* margin-top: 20px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
}
.cart-container{
    padding: 30px;
    background-color: ;
}